<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'" [ngClass]="{'hidden': field.hidden}">
    <div class="form-group" [ngClass]="{'has-error': !isValid}">

        <!-- Label -->
        <label for="{{field.key}}">
            {{field.label}}
            <span *ngIf="field.validators && field.validators.required">*</span>
        </label>
        <!-- Input -->

        <div class="date-picker-wrapper">
            <input
                    class="form-control"
                    (keydown)="false"
                    formControlName="{{field.key}}"
                    id="{{field.key}}"
                    [owlDateTimeTrigger]="dt"
                    [owlDateTime]="dt"
                    [min]="min"
                    [max]="max"
            >
            <owl-date-time
                    #dt
                    [firstDayOfWeek]="1"
                    [pickerType]="field.isDateTime ? 'both' : 'calendar'"
            ></owl-date-time>
            <span class="remove"
                  (click)="clear()">×</span>
        </div>

        <!-- Others -->
        <span *ngIf="field.description" class="help-block sub-little-text">{{field.description}}</span>
    </div>
</div>