@import '../../../../assets/sass/partials/imports';

app-content-top {
  > div {
    background-color: #ffffff;
    border-bottom: 1px solid $grey;
    padding: 15px;
    > div.row {
      > div {
        > ul.breadcrumb {
          padding: 0;
          margin: 0;
          background-color: inherit;
          > li {
            + li {
              &:before {
                content: '\f112';
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
              }
            }
            > a {
              font-weight: $light;
              color: $default;
              &.active {
                color: $primary;
                font-weight: $regular;
              }

              > i {
                color: $default;
              }
            }
          }
        }
      }
    }
  }
}
