@import '../../../../assets/sass/partials/imports';

app-form-page {
  > div.container-fluid {
    > div.row {
      margin: 0;
      > div {
        background-color: #ffffff;
        border-radius: $borderRadius;
        padding: 20px 30px;
        margin: 20px 0;
        border: 1px solid $grey;
      }
    }
  }
}