@import '../../../assets/sass/partials/imports';

app-login {
  > div.container {
    background-color: #ffffff;
    border: 1px solid $lightGrey;
    border-radius: $borderRadius;
    margin: 0 auto;
    @include _transform(translateY(50%));
    max-width: 600px;
    padding: $cardPaddingY $cardPaddingX;
  }
}