@import '../../../../../../assets/sass/partials/imports';

ng2-smart-table-pager {
  > div {
    > nav.ng2-smart-pagination-nav {
      > ul.pagination {
        margin-bottom: 0;
        > li {
          &.active {
            > span, a {
              border-color: $primary;
              background-color: $primary;
              color: #ffffff;
              &:hover {
                border-color: darken($primary, 10);
                background-color: darken($primary, 10);
                color: #ffffff;
              }
              > span {
                color: #ffffff;
              }
            }
          }
          > a, span {
            cursor: pointer;
            color: $primary;
            border-radius: $borderRadius;
          }
        }
      }
    }
  }
}