@import '../../../../../../assets/sass/partials/imports';

ng2-smart-table-pager {
  > div {
    > nav.ng2-smart-pagination-nav {
      > ul.pagination {
        margin-bottom: 0;
        > li {
          &.active {
            > span, a {
              border-color: $primary;
              background-color: $primary;
              color: #ffffff;
              &:hover {
                border-color: darken($primary, 10);
                background-color: darken($primary, 10);
                color: #ffffff;
              }
              > span {
                color: #ffffff;
              }
            }
          }
          > a, span {
            cursor: pointer;
            color: $primary;
            border-radius: $borderRadius;
          }
        }
      }
    }
  }
}

/*.ng2-smart-pagination {
  display: inline-block;
  font-size: .875em;
  padding: 0;

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  .ng2-smart-page-item {
    display: inline;

    .per-page-changer{
      cursor: pointer;
    }

    &.active{
      .ng2-smart-page-link{
        background-color: $primary !important;
      }
    }
  }
}*/