<div [ngClass]="{'loading': isLoading}">
    <header>
        <h3 *ngIf="settings.title">{{ settings.title }}</h3>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </header>

    <div class="multilang" *ngIf="isMultiLangEnabled">
        <ng-select [items]="_languageService.getContentLanguages()"
                   [clearable]="false"
                   [searchable]="false"
                   [(ngModel)]="currentLang"
                   [ngModelOptions]="{standalone: true}"
                   (change)="onLanguageChange($event)"
                   bindLabel="name">
            <ng-template ng-label-tmp let-item="item">
                <i [class]="'flag-icon flag-icon-' + _languageService.getIsoCodeForFlag(item)"></i> {{item.name}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
                <i [class]="'flag-icon flag-icon-' + _languageService.getIsoCodeForFlag(item)"></i> {{item.name}}
            </ng-template>
        </ng-select>
    </div>

    <div class="table-wrapper">
        <ng2-smart-table [settings]="settings"
                         [source]="data"
                         [count]="count"
                         [activeFilters]="activeFilters"
                         [drag]="!!settings.drag"
                         (action)="onAction($event)"
                         (create)="onCreate()"
                         (userRowSelect)="onRowSelect($event)"
                         (filter)="onFilter($event)"
                         (paginate)="onPagination($event)"
                         (sort)="onSort($event)"
                         (rowDrop)="onRowDrop($event)"
        ></ng2-smart-table>
    </div>
</div>
