@import '../../../../assets/sass/partials/imports';

app-table {
  > div {
    @include card();
    &.loading {
      > header {
        > .progress {
          display: block;
        }
      }
      > div.table-wrapper {
        &:after {
          display: block;
        }
      }
    }
    > div.multilang {
      margin-bottom: 20px;
    }

    > div.table-wrapper {
      position: relative;
      max-width: 100%;
      overflow: auto;
      &:after {
        display: none;
        content: '';
        position: absolute;
        top: -#{$cardPaddingY};
        left: -#{$cardPaddingY};
        width: calc(100% + (#{$cardPaddingY}*2));
        height: calc(100% + (#{$cardPaddingY}*2));
        background: #4c4c4c;
        opacity: 0.2;
      }
    }
  }
}