@import '../../../../assets/sass/partials/imports';

app-table {
  > div {
    @include card();

    @include respond-to(xs) {
      padding: 0;
    }
    margin-bottom: 20px;
    &.loading {
      > header {
        > .progress {
          display: block;
        }
      }
      > div.table-wrapper {
        &:after {
          display: block;
        }
      }
    }

    > div.select.multilang {
      margin-bottom: 20px;
      > ng-select.ng-select {
        > div.ng-control {
          @include respond-to(xs) {
            border-top: none;
            border-left: none;
          }
        }
      }
    }

    > div.table-wrapper {
      position: relative;
      max-width: 100%;
      overflow: auto;
      &:after {
        display: none;
        content: '';
        position: absolute;
        top: -#{$cardPaddingY};
        left: -#{$cardPaddingY};
        width: calc(100% + (#{$cardPaddingY} * 2));
        height: calc(100% + (#{$cardPaddingY} * 2));
        background: #4c4c4c;
        opacity: 0.2;
      }

      div.table-responsive {
        border: none;
        table {
          @include respond-to(xs) {
            border-top: none;
            border-left: none;
            border-right: none;
          }
        }
      }

      &.multi-lang {
        div.table-responsive {
          table {
            @include respond-to(xs) {
              border-top: 1px solid $lightGrey;
            }
          }
        }
      }

      div.pagination-wrapper {
        @include clearfix;
        @include respond-to(from-sm) {
          margin: 20px 0;
        }
        @include respond-to(xs) {
          margin: 20px -1px;
        }
      }

      div.general-actions {
        @include clearfix;
        margin: 20px 0 0;
      }
    }
  }
}