<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'" [ngClass]="{'hidden': field.hidden}">
  <div class="form-group" [ngClass]="{'has-error': !isValid()}">

    <label>
      {{field.label}}
      @if (isRequired()) {
        <span>*</span>
      }
    </label>
    @if (field.options.allowedContentTypes) {
      <label
        [ngClass]="{'error': rejected}"
        >
        ({{field.options.allowedContentTypes.join()}})
      </label>
    }

    @if (putFilesOnLanguages && !copyOnLanguages && canUpload() && !isLoading) {
      <app-copy-lang-chooser
        [currentLang]="currentLang"
        >
      </app-copy-lang-chooser>
    }

    <div class="progress" [ngClass]="{'visible': isLoading}">
      <div class="indeterminate"></div>
    </div>

    <!-- TODO: add this part to re-enable drag&drop -->
    <!--        <div class="drop-container"
    [options]="options"
    (uploadOutput)="onUploadOutput($event)"
    [uploadInput]="uploadInput"
    [ngClass]="{ 'is-drop-over': dragOver }">
    <div>
      <span *ngIf="isLoading">{{'forms.inputs.uploading_files' | translate}}</span>
      <span *ngIf="(maxFiles > 0 && uploadedFiles.length >= maxFiles) && !isLoading">{{'forms.inputs.max_files' | translate}} {{maxFiles}}</span>
      <span *ngIf="(uploadedFiles.length === 0 || (maxFiles > 0 && uploadedFiles.length < maxFiles)) && !isLoading">{{'forms.inputs.drag_drop' | translate}} <span
      class="choose" (click)="bringFileSelector()">{{'forms.inputs.choose_files' | translate}}</span></span>
    </div>
    <div> -->

      <!-- TODO: remove this part to re-enable drag&drop -->

      @if (!onlyView) {
        <div class="drop-container">
          <div>
            @if (isLoading) {
              <span>{{'forms.inputs.uploading_files' | translate}}</span>
            }
            @if (maxFiles > 0 && filesList.length >= maxFiles && !isLoading) {
              <span>
                {{'forms.inputs.max_files' | translate}}: {{maxFiles}}
              </span>
            }
            @if (canUpload() && !isLoading) {
              <span>
                <span class="choose btn btn-sm btn-default"
                  (click)="bringFileSelector()"
                  >
                  {{'forms.inputs.upload_files' | translate}}
                </span>
                @if (!!field.options.mediaLibrary) {
                  <span class="choose btn btn-sm btn-info"
                    (click)="openMediaLibrary()"
                    >
                    {{'forms.inputs.select_from_library' | translate}}
                  </span>
                }
              </span>
            }
          </div>
        </div>
      }

      <input type="file"
        #fileUpload
        class="hidden"
        ngFileSelect
        [options]="options"
        [uploadInput]="uploadInput"
        (uploadOutput)="onUploadOutput($event)"
        [multiple]="!!field.options.multiple"
        >

      @if (!!field.options.mediaLibrary) {
        <app-media-library
          [show]="showMediaLibrary"
          [allowedContentTypes]="options.allowedContentTypes"
          [uploadedFiles]="getControl().value"
          [options]="field.options.mediaLibrary"
          [maxFiles]="maxFiles"
          (confirm)="onConfirmMediaLibrarySelection($event)"
        ></app-media-library>
      }


      @if (filesList && filesList.length > 0) {
        <div class="uploaded-files-container"
          >
          @if (!onlyView) {
            <label class="uploaded-files-label">Uploaded file(s)</label>
          }
          <ul>
            @for (file of filesList; track file) {
              <li
                class="uploaded-file">
                <div class="file-wrapper">
                  <div>
                    @switch (file.type) {
                      @case ('text/plain') {
                        <i class="fa fa-file-text-o txt"></i>
                      }
                      @case ('application/msword') {
                        <i class="fa fa-file-text-o txt"></i>
                      }
                      @case ('text/csv') {
                        <i class="fa fa-file-code-o code"></i>
                      }
                      @case ('application/pdf') {
                        <i class="fa fa-file-pdf-o pdf"></i>
                      }
                      @case ('application/zip') {
                        <i class="fa fa-file-zip-o zip"></i>
                      }
                      @case ('video/mp4') {
                        <i class="fa fa-file-video-o video"></i>
                      }
                      @default {
                        <i class="fa fa-file-o default"></i>
                      }
                      @case ('image/jpeg') {
                        <img [src]="file.url" (error)="retryUrl($event, file.url)"/>
                      }
                      @case ('image/jpg') {
                        <img [src]="file.url" (error)="retryUrl($event, file.url)"/>
                      }
                      @case ('jpeg') {
                        <img [src]="file.url" (error)="retryUrl($event, file.url)"/>
                      }
                      @case ('jpg') {
                        <img [src]="file.url" (error)="retryUrl($event, file.url)"/>
                      }
                      @case ('image/png') {
                        <img [src]="file.url" (error)="retryUrl($event, file.url)"/>
                      }
                      @case ('png') {
                        <img [src]="file.url" (error)="retryUrl($event, file.url)"/>
                      }
                    }
                  </div>
                </div>
                @if (!onlyView) {
                  <span class="file-name">
                    @if (file.type == 'video/mp4') {
                      <span>{{file.name}}&nbsp;&nbsp;</span>
                    }
                    <span class="remove"
                      (click)="removeUploadedFile(file)"
                    >×</span>
                  </span>
                }
              </li>
            }
          </ul>
        </div>
      }
      @if (field.description) {
        <span class="help-block">{{field.description}}</span>
      }
    </div>
  </div>
