<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'" [ngClass]="{'hidden': field.hidden}">
    <div class="form-group" [ngClass]="{'has-error': !isValid()}">

        <label>
            {{field.label}}
            <span *ngIf="isRequired()">*</span>
        </label>
        <label *ngIf="field.options.allowedContentTypes"
               [ngClass]="{'error': rejected}">
            (<span *ngFor="let type of field.options.allowedContentTypes; let last = last">
                    {{type}}<span *ngIf="!last">, </span>
                </span>)
        </label>

        <div *ngIf="putFilesOnLanguages && canUpload() && !isLoading">
            <label class="checkbox">
                <input type="checkbox"
                       class="styled"
                       [checked]="copyToLang"
                       [(ngModel)]="copyToLang"
                       (ngModelChange)="onCopyToLangChange($event)"
                       [ngModelOptions]="{standalone: true}"
                >
                <span>{{'forms.inputs.put_on_languages' | translate}}</span>
            </label>
            <br />
        </div>

        <div class="progress" [ngClass]="{'visible': isLoading}">
            <div class="indeterminate"></div>
        </div>

        <!-- TODO: add this part to re-enable drag&drop -->
        <!--        <div class="drop-container"
                     [options]="options"
                     (uploadOutput)="onUploadOutput($event)"
                     [uploadInput]="uploadInput"
                     [ngClass]="{ 'is-drop-over': dragOver }">
                     <div>
                <span *ngIf="isLoading">{{'forms.inputs.uploading_files' | translate}}</span>
                <span *ngIf="(maxFiles > 0 && uploadedFiles.length >= maxFiles) && !isLoading">{{'forms.inputs.max_files' | translate}} {{maxFiles}}</span>
                <span *ngIf="(uploadedFiles.length === 0 || (maxFiles > 0 && uploadedFiles.length < maxFiles)) && !isLoading">{{'forms.inputs.drag_drop' | translate}} <span
                        class="choose" (click)="bringFileSelector()">{{'forms.inputs.choose_files' | translate}}</span></span>
            </div>
                    <div> -->

        <!-- TODO: remove this part to re-enable drag&drop -->

        <div class="drop-container" *ngIf="!onlyView">
            <div>
                <span *ngIf="isLoading">{{'forms.inputs.uploading_files' | translate}}</span>
                <span *ngIf="(maxFiles > 0 && getControl().value && getControl().value.length >= maxFiles) && !isLoading">{{'forms.inputs.max_files' | translate}}: {{maxFiles}}</span>
                <span *ngIf="canUpload() && !isLoading">
                    <span class="choose btn btn-sm btn-default"
                          (click)="bringFileSelector()">{{'forms.inputs.upload_files' | translate}}</span>
                    <span class="choose btn btn-sm btn-info" *ngIf="!!field.options.mediaLibrary"
                          (click)="openMediaLibrary()">{{'forms.inputs.select_from_library' | translate}}</span>
                </span>
            </div>
        </div>

        <input type="file"
               #fileUpload
               class="hidden"
               ngFileSelect
               [options]="options"
               [uploadInput]="uploadInput"
               (uploadOutput)="onUploadOutput($event)"
               [multiple]="!!field.options.multiple">

        <app-media-library
                *ngIf="!!field.options.mediaLibrary"
                [show]="showMediaLibrary"
                [allowedContentTypes]="options.allowedContentTypes"
                [uploadedFiles]="getControl().value"
                [options]="field.options.mediaLibrary"
                [maxFiles]="maxFiles"
                (confirm)="onConfirmMediaLibrarySelection($event)"
        ></app-media-library>


        <div class="uploaded-files-container"
             *ngIf="getControl().value && getControl().value.length > 0">
            <label class="uploaded-files-label" *ngIf="!onlyView">Uploaded file(s)</label>
            <ul [dragula]="getUniqueKey()" [dragulaModel]='getControl().value'>
                <li *ngFor="let file of getControl().value"
                    class="uploaded-file">
                    <div class="file-wrapper">
                        <div [ngSwitch]="file.type">
                            <i *ngSwitchCase="'text/plain'" class="fa fa-file-text-o txt"></i>
                            <i *ngSwitchCase="'application/msword'" class="fa fa-file-text-o txt"></i>
                            <i *ngSwitchCase="'text/csv'" class="fa fa-file-code-o code"></i>
                            <i *ngSwitchCase="'application/pdf'" class="fa fa-file-pdf-o pdf"></i>
                            <i *ngSwitchCase="'application/zip'" class="fa fa-file-zip-o zip"></i>
                            <i *ngSwitchCase="'video/mp4'" class="fa fa-file-video-o video"></i>
                            <i *ngSwitchDefault class="fa fa-file-o default"></i>
                            <img *ngSwitchCase="'image/jpeg'" [src]="file.url" (error)="retryUrl($event, file.url)"/>
                            <img *ngSwitchCase="'image/jpg'" [src]="file.url" (error)="retryUrl($event, file.url)"/>
                            <img *ngSwitchCase="'jpeg'" [src]="file.url" (error)="retryUrl($event, file.url)"/>
                            <img *ngSwitchCase="'jpg'" [src]="file.url" (error)="retryUrl($event, file.url)"/>
                            <img *ngSwitchCase="'image/png'" [src]="file.url" (error)="retryUrl($event, file.url)"/>
                            <img *ngSwitchCase="'png'" [src]="file.url" (error)="retryUrl($event, file.url)"/>
                        </div>
                    </div>
                    <span class="file-name" *ngIf="!onlyView">
                        <span *ngIf="file.type == 'video/mp4'">{{file.name}}&nbsp;&nbsp;</span>
                        <span class="remove"
                              (click)="removeUploadedFile(file)">×</span>
                    </span>
                </li>
            </ul>
        </div>
        <span *ngIf="field.description" class="help-block">{{field.description}}</span>
    </div>
</div>