@import '../../../../../../assets/sass/partials/imports';

app-separator {
  > div {
    display: block;
    margin-top: 20px;
    color: $default;
    > p {
      &.title {
        font-size: 17px;
        border-bottom: 1px solid $lightGrey;
        padding-bottom: 10px;
        > i {
          margin-right: 5px;
        }
      }
      &.text {
        font-size: 14px;
      }
    }
  }
}