<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="form-group">
        <div class="cloudinary-library">
            <div class="header">
                Cloudinary library
            </div>
            <div class="progress" [ngClass]="{'visible': isLoading}">
                <div class="indeterminate"></div>
            </div>
            <div class="container-fluid" id="filters-wrapper">
                <div class="row filters">
                    <div class="col-sm-12">
                        <div class="input-wrapper">
                            <ng-select [items]="searchOptions"
                                       [typeahead]="typeAhead"
                                       [addTag]="true"
                                       [(ngModel)]="search"
                                       (change)="onSearch()"
                                       [multiple]="true"
                                       bindLabel="text"
                                       [placeholder]="'Cerca per tag'">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid media-closed" id="library-wrapper">
                <div class="medias">
                    <div class="row library">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3" *ngFor="let media of data" (click)="selectMedia($event, media)">
                            <div class="media" [ngClass]="{selected: media.selected}">
                                <img [src]="media.url" (error)="onImageError($event)">
                                <span class="selected"><i class="fa fa-check"></i></span>
                            </div>
                            <div class="info">
                                <span class="name">{{media.name}}</span>
                                <span class="type">{{media.type}}</span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row selection" *ngIf="selection.length > 0">
                        <div class="col-sm-12">
                            <p>{{'forms.inputs.selected_files' | translate}} ({{selection.length}}):</p>
                        </div>
                        <div class="col-sm-12">
                            <div class="media" *ngFor="let media of selection">
                                <img [src]="media.url" (error)="onImageError($event)">
                                <span (click)="unSelectMedia($event, media)">×</span>
                            </div>
                        </div>
                    </div> -->
                    <div class="row footer">
                        <div class="col-sm-12">
                            <nav *ngIf="shouldShowPagination()" class="pagination pull-left">
                                <ul>
                                    <li class="page-item" [ngClass]="{disabled: getCurrentPage() == 1}">
                                        <a class="page-link" href="#"
                                           (click)="getCurrentPage() == 1 ? false : paginate(1)" aria-label="First">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>

                                    <li class="page-item" [ngClass]="{active: getCurrentPage() == page}"
                                        *ngFor="let page of getPages()">
                                        <span class="page-link" *ngIf="getCurrentPage() == page">{{ page }}</span>
                                        <a class="page-link" href="#"
                                           (click)="paginate(page)" *ngIf="getCurrentPage() != page">{{ page }}</a>
                                    </li>

                                    <li class="page-item"
                                        [ngClass]="{disabled: getCurrentPage() == getLastPage()}">
                                        <a class="ng2-smart-page-link page-link" href="#"
                                           (click)="getCurrentPage() == getLastPage() ? false : paginate(getLastPage())"
                                           aria-label="Last">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                            <!--<span class="pull-right btn btn-sm btn-primary" (click)="confirmSelection()">Confirm</span> -->
                        </div>
                    </div>
                </div>
                <div class="media-detail">
                    <div class="wrapper" *ngIf="activeMedia">
                        <img [src]="activeMedia.url" (error)="onImageError($event)">
                        <div class="info">
                            <span class="name">{{activeMedia.name}}</span>
                            <span class="type">{{activeMedia.type}}</span>
                        </div>
                        <div class="tags" *ngIf="activeMedia.tags && activeMedia.tags.length > 0">
                            <p>Tags:</p>
                            <ul>
                                <li *ngFor="let tag of activeMedia.tags">{{tag.name}}
                                    <span class="remove" (click)="removeTag(tag)">×</span>
                                </li>
                            </ul>
                        </div>
                        <span class="remove" (click)="closeMedia()">×</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>