<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'" [ngClass]="{'hidden': field.hidden}">
  <div class="form-group" [ngClass]="{'has-error': !isValid()}">
    <label for="{{field.key}}">
      {{field.label}}
      @if (isRequired()) {
        <span>*</span>
      }
    </label>
    @if (color !== null) {
      <input
        type="text"
        [attr.disabled]="field.disabled || onlyView ? '' : null"
        id="{{field.key}}"
        formControlName="{{field.key}}"
        class="form-control"
        [cpAlphaChannel]="'disabled'"
        (colorPickerChange)="onColorChange($event)"
        [(colorPicker)]="color"
        [style.background]="color"
        [cpPosition]="'bottom'"
        [value]="color"
        >
    }
    @if (field.description) {
      <span class="help-block">{{field.description}}</span>
    }
  </div>
</div>