<table [id]="tableId" [ngClass]="tableClass">

    <thead ng2-st-thead *ngIf="!isHideHeader || !isHideSubHeader"
           [grid]="grid"
           [isAllSelected]="isAllSelected"
           [source]="source"
           (create)="create.emit()"
           (selectAllRows)="onSelectAllRows($event)"
           (sort)="onSort($event)"
           (filter)="onFilter($event)">
    </thead>

    <tbody ng2-st-tbody [grid]="grid"
           [source]="source"
           (action)="action.emit($event)"
           (userSelectRow)="onUserSelectRow($event)"
           (multipleSelectRow)="multipleSelectRow($event)"
           (rowHover)="onRowHover($event)"
           [dragula]="drag"
           [dragulaModel]="grid.getRows()"
           [dragulaOptions]="{}">
    </tbody>

</table>

<ng2-smart-table-pager *ngIf="isPagerDisplay"
                       [source]="source"
                       (pagination)="onPagination($event)">
</ng2-smart-table-pager>
