<div class="table-responsive">
  <table [id]="tableId" [ngClass]="tableClass">

    @if (!isHideHeader || !isHideSubHeader) {
      <thead ng2-st-thead
        [grid]="grid"
        [activeFilters]="activeFilters"
        [isAllSelected]="isAllSelected"
        [isDragEnabled]="isDragEnabled"
        [source]="source"
        (create)="create.emit()"
        (selectAllRows)="onSelectAllRows($event)"
        (sort)="onSort($event)"
        (filter)="onFilter($event)">
      </thead>
    }

    @if (isDragEnabled) {
      <tbody
        ng2-st-tbody
        [grid]="grid"
        [source]="source"
        (action)="action.emit($event)"
        (multipleSelectRow)="multipleSelectRow($event)"
        [isDragEnabled]="true"
        [appSortable]="dragulaList"
        (sorted)="onDrop()">
      </tbody>
    }

    @if (!isDragEnabled) {
      <tbody
        ng2-st-tbody
        [grid]="grid"
        [source]="source"
        (action)="action.emit($event)"
        (multipleSelectRow)="multipleSelectRow($event)"
        [isDragEnabled]="false">
      </tbody>
    }

  </table>
</div>

@if (isPagerDisplay) {
  <ng2-smart-table-pager
    [source]="source"
    (pagination)="onPagination($event)">
  </ng2-smart-table-pager>
}


@if (settings.generalActions) {
  <ng2-smart-table-general-actions
    (action)="action.emit($event)"
    [source]="source"
    [grid]="grid">
  </ng2-smart-table-general-actions>
}
