/* Colors */

$primary: #2ca9d6;
$sidebar: #2a363d;
$sidebarDark: #222b31;
$sidebarLight: #48565d;

$danger: #f66d6e;
$success: #52bc76;
$warning: #fdc02f;
$info: #67c2dd;
$default: #8b9ca4;
$purple: #8B2ABC;

$grey: #c6c6c6;
$lightGrey: #dddddd;
