<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="form-group">
        <div class="hotSpot-wrapper">
            <div class="header">
                Hotspot
            </div>

            <div class="img-wrapper" #imageWrapper>
                <img [src]="imageUrl" #image (click)="add($event)">
                <div *ngFor="let hotSpot of getControl().controls, index"
                     class="hotSpot"
                     (drag)="onDrag($event, index)"
                     (dragend)="onDragEnd($event, index)"
                     [draggable]="true"
                     [style.top]="hotSpot.value.y + 'px'"
                     [style.left]="hotSpot.value.x + 'px'"
                ><i class="fa fa-arrows"></i>
                    <div class="edit" (click)="onEdit($event, index)"
                         data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
            </div>

            <div id="myModal" class="modal fade" role="dialog" *ngIf="activeHotSpot != null">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Hotspot</h4>
                        </div>
                        <div class="modal-body">
                            <div *ngFor="let controlField of field.fields" class="row">
                                <app-form-type-switcher [form]="getActiveForm()"
                                                        [isSubField]="true"
                                                        [field]="controlField"
                                                        [isEdit]="isEdit">
                                </app-form-type-switcher>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose($event)">Close</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDelete($event)">Delete</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSave($event)">Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>