<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="form-group">
        <div class="hotSpot-wrapper">
            <div class="header">
                Hotspot
            </div>

            <div class="img-wrapper" #imageWrapper>
                <img [src]="imageUrl" #image (click)="add($event)">
                <div *ngFor="let hotSpot of hotSpots"
                     class="hotSpot"
                     [ngClass]="{'isDragging': hotSpot.isDragging}"
                     (drag)="onDrag($event, hotSpot)"
                     (dragend)="onDragEnd($event, hotSpot)"
                     [draggable]="true"
                     [style.top]="hotSpot.y + 'px'"
                     [style.left]="hotSpot.x + 'px'"
                ><i class="fa fa-arrows"></i>
                    <div class="edit" (click)="onEdit($event, hotSpot)">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>