<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'" [ngClass]="{'hidden': field.hidden}">
    <div class="form-group">
        <label for="{{field.key}}">
            {{field.label}}
        </label>
        <input
                disabled="disabled"
                type="text"
                formControlName="{{field.key}}"
                id="{{field.key}}"
                class="form-control plain"
                value="{{field.value}}"
        />
        <span *ngIf="field.description" class="help-block">{{field.description}}</span>
    </div>
</div>