<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'" [ngClass]="{'hidden': field.hidden}">
    <div class="form-group" [ngClass]="{'has-error': !isValid()}">
        <label>
            {{field.label}}
            <span *ngIf="isRequired()">*</span>
        </label>
        <div class="container">
            <div class="row wrapper">
                <div class="col-xs-3 col-sm-3">
                    <label>Morning start</label>
                    <input mask="Hh:m0"
                           [showMaskTyped]="true"
                           [formControl]="mS"
                           class="form-control">
                </div>
                <div class="col-xs-3 col-sm-3">
                    <label>Morning end</label>
                    <input mask="Hh:m0"
                           [showMaskTyped]="true"
                           [formControl]="mE"
                           class="form-control">
                </div>
                <div class="col-xs-3 col-sm-3">
                    <label>Afternoon start</label>
                    <input mask="Hh:m0"
                           [showMaskTyped]="true"
                           [formControl]="aS"
                           class="form-control">
                </div>
                <div class="col-xs-3 col-sm-3">
                    <label>Afternoon end</label>
                    <input mask="Hh:m0"
                           [showMaskTyped]="true"
                           [formControl]="aE"
                           class="form-control">
                </div>
            </div>
        </div>
        <span *ngIf="field.description" class="help-block sub-little-text">{{field.description}}</span>
    </div>
</div>
