@import '../../../../../../assets/sass/partials/imports';

app-timetable-picker {
  .form-group {
    &.has-error {
      > .container {
        > .wrapper {
          border-color: $danger;
          label {
            color: $default;
          }
          input {
            border-color: $lightGrey;
          }
        }
      }
    }
    > .container {
      > .wrapper {
        border: 1px solid $lightGrey;
        padding: 10px 0;
      }
    }
  }
}