@import '../../../../../../assets/sass/partials/imports';

app-preview {
  > div {
    > div.form-group {
      > div.preview-wrapper {
        @include clearfix;
        margin-top: 30px;
        > div.preview {
          float: left;
          border: 1px solid $lightGrey;
          > img {
            width: 100%;
            height: 100%;
          }
        }
        > div.value {
          float: left;
          padding: 0 15px;
        }
      }

    }
  }

}