<div [class]="field.class ? field.class : 'col-sm-12'" *ngIf="!isVisible">
    <div class="form-group">

        <!-- Label -->
        <label>
            {{field.label}}
            <span *ngIf="field.validators && field.validators.required">*</span>
        </label>

        <nouislider
                [min]="min"
                [max]="max"
                [config]="sliderConfig"
                [(ngModel)]="offset"
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="onChange($event)"
        ></nouislider>

        <img class="preview" [src]="url">

        <!-- Others -->
        <span *ngIf="field.description" class="help-block">{{field.description}}</span>
    </div>
</div>