<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'" *ngIf="isVisible">
    <div class="form-group">
        <label>
            {{field.label}}
            <span *ngIf="isRequired()">*</span>
        </label>

        <nouislider *ngIf="max > 0"
                    [min]="min"
                    [max]="max"
                    [(ngModel)]="offset"
                    [ngModelOptions]="{standalone: true}"
                    [config]="sliderConfig"
                    (change)="onChange()"
        ></nouislider>

        <div class="preview-wrapper">
            <div class="preview">
                <img [src]="url"
                     (error)="onImageError()">
                <div class="value" *ngIf="max > 0">
                    <input type="number"
                           [(ngModel)]="offset"
                           (ngModelChange)="onChange()"
                           [ngModelOptions]="{standalone: true}"
                           [min]="min"
                           [max]="max"
                    >
                    <span>/ {{max}}</span>
                </div>
            </div>
        </div>

        <!-- Others -->
        <span *ngIf="field.description" class="help-block">{{field.description}}</span>
    </div>
</div>