@import '../../../../../../assets/sass/partials/imports';

app-preview {
  > div {
    > div.form-group {
      > div.preview-wrapper {
        @include clearfix;
        margin-top: 30px;
        > div.preview {
          text-align: center;
          > div.value {
            margin-top: 10px;
            color: $default;
            font-size: 13px;
          }
        }
      }

    }
  }

}