@if (hasErrors()) {
  <div class="alert alert-danger errors">
    <ul>
      <!-- Validation errors, handled locally (required fields, etc) -->
      @for (error of errorBag.errorList; track error) {
        <li>
          <span>{{error.label}}</span> {{error.message}}
        </li>
      }
      <!-- Errors from API RESPONSE, handled by external components -->
      @for (error of errorMessages; track error) {
        <li>
          {{error}}
        </li>
      }
    </ul>
    <span class="close-alert" (click)="closeErrors()">×</span>
  </div>
}
