<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'" [ngClass]="{'hidden': field.hidden}">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group no-margin" [ngClass]="{'has-error': !isDateValid('startDate')}">
                    <label for="{{field.startDate.key}}">
                        {{field.startDate.label}}
                        <span *ngIf="field.startDate.validators && field.startDate.validators.required">*</span>
                    </label>
                    <!-- Input -->

                    <input
                            ngui-datetime-picker
                            class="form-control date-picker"
                            id="{{field.startDate.key}}"
                            formControlName="{{ field.startDate.key }}"
                            [date-only]="!field.startDate.isDateTime"
                    >
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group no-margin" [ngClass]="{'has-error': !isDateValid('endDate')}">
                    <label for="{{field.endDate.key}}">
                        {{field.endDate.label}}
                        <span *ngIf="field.endDate.validators && field.endDate.validators.required">*</span>
                    </label>
                    <!-- Input -->

                    <input
                            ngui-datetime-picker
                            class="form-control date-picker"
                            id="{{field.endDate.key}}"
                            formControlName="{{ field.endDate.key }}"
                            [date-only]="!field.endDate.isDateTime"
                    >
                </div>
            </div>
        </div>
        <!-- Others -->
        <span *ngIf="!isValid" class="help-block danger pull-right">{{field.errorMessage ? field.errorMessage : 'Invalid date range'}}</span>
        <span *ngIf="field.description" class="help-block">{{field.description}}</span>
    </div>
</div>