<form *ngIf="form"
      [formGroup]="form"
      (keyup.enter)="enableAutoSubmit && onSubmit()"
      [ngClass]="{'loading': isLoading || isExternalLoading}">
    <header>
        <h3 *ngIf="settings.title">{{ settings.title }}</h3>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </header>

    <div class="alert alert-danger errors" [ngClass]="{'visible': (errorsList && errorsList.length > 0) || (settings.errors && settings.errors.length > 0)}">
        <ul *ngIf="errorsList || settings.errors">
            <!-- Validation errors, handled locally (required fields, etc) -->
            <li *ngFor="let error of errorsList">
                <span>{{error.label}}</span> {{error.message}}
            </li>

            <!-- Errors from API RESPONSE, handled by external components -->
            <li *ngFor="let error of settings.errors">
                {{error}}
            </li>
        </ul>
        <span class="close-alert" (click)="closeErrors()">×</span>
    </div>

    <div class="fields-wrapper">
        <div class="row">
            <div class="col-sm-12 multilang" *ngIf="isMultiLangEnabled">
                <ng-select [items]="_languageService.getContentLanguages()"
                           [clearable]="false"
                           [searchable]="false"
                           [(ngModel)]="currentLang"
                           [ngModelOptions]="{standalone: true}"
                           (change)="onLanguageChange($event)"
                           bindLabel="name">
                    <ng-template ng-label-tmp let-item="item">
                       <i [class]="'flag-icon flag-icon-' + _languageService.getIsoCodeForFlag(item)"></i> {{item.name}}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                        <i [class]="'flag-icon flag-icon-' + _languageService.getIsoCodeForFlag(item)"></i> {{item.name}}
                    </ng-template>
                </ng-select>
            </div>

            <div *ngIf="!settings.putTranslationsFirst">
                <div *ngFor="let field of settings.fields.base">
                    <app-form-type-switcher [form]="form" [field]="field"
                                            [isEdit]="settings.isEdit"></app-form-type-switcher>
                </div>

                <div *ngFor="let key of objectKeys(settings.fields)">
                    <div *ngIf="key!='base'">
                        <div [formGroupName]="key" [hidden]="currentLang.isoCode != key"
                             *ngFor="let field of valueOfSettingsField(key)">
                            <app-form-type-switcher [groupName]="key" [form]="form.get(key)" [field]="field"
                                                    [isEdit]="settings.isEdit"></app-form-type-switcher>
                        </div>
                    </div>

                </div>
            </div>
            <div *ngIf="settings.putTranslationsFirst">
                <div *ngFor="let key of objectKeys(settings.fields)">
                    <div *ngIf="key!='base'">
                        <div [formGroupName]="key" [hidden]="currentLang.isoCode != key"
                             *ngFor="let field of valueOfSettingsField(key)">
                            <app-form-type-switcher [groupName]="key" 
                                                    [form]="form.get(key)" 
                                                    [field]="field"
                                                    [currentLang]="currentLang"
                                                    [isEdit]="settings.isEdit"></app-form-type-switcher>
                        </div>
                    </div>
                </div>
                <div *ngFor="let field of settings.fields.base">
                    <app-form-type-switcher [form]="form" [field]="field"
                                            [isEdit]="settings.isEdit"></app-form-type-switcher>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="pull-left" *ngIf="settings.buttons && settings.buttons.length > 0">
                    <button *ngFor="let button of settings.buttons"
                            type="button" (click)="onButton(button)"
                            [class]="'btn ' + button.class"> {{ button.content }}
                    </button>
                </div>
                <div class="pull-right">
                    <button type="button" (click)="onSubmit()" class="btn btn-primary"
                            [disabled]="isLoading || isExternalLoading"> {{ settings.submit?.label ? settings.submit.label :
                        'forms.labels.submit' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


