@import '../../../../assets/sass/partials/imports';

app-form {
  > form {
    @include card();
    &.loading {
      > header {
        > .progress {
          display: block;
        }
      }
    }

    > div.errors {
      margin: 0;
      padding: 0;
      > ol {
        margin: 0 0 0 15px;
        padding: 10px 15px;
        > li {
          > span {
            font-weight: $regular;
          }
        }
      }

      &:not(.visible) {
        visibility: hidden;
        opacity: 0;
        height: 0;
      }

      &.visible {
        margin-bottom: 15px;
        visibility: visible;
        opacity: 1;
      }
    }

    > div.fields-wrapper {
      div.multilang {
        max-width: 155px;
        margin-bottom: 25px;
        > ng-select.ng-select {
          > div.ng-control {
            min-height: 35px;
          }

          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}