@import '../../../../assets/sass/partials/imports';

app-form {
  > form {
    @include card();
    &.loading {
      > header {
        > .progress {
          display: block;
        }
      }
    }

    > div.errors {
      margin: 0;
      padding: 0;
      > ul {
        list-style: square;
        margin: 0;
        padding: 10px 30px;
        > li {
          > span {
            font-weight: $regular;
          }
        }
      }

      &:not(.visible) {
        visibility: hidden;
        opacity: 0;
        height: 0;
      }

      &.visible {
        margin-bottom: 15px;
        visibility: visible;
        opacity: 1;
      }
    }

    > div.fields-wrapper {
      div.multilang {
        margin-bottom: 20px;
      }
    }
  }
}