@import '../../../../assets/sass/partials/imports';

app-form {
  > form {
    @include card();
    &.loading {
      > header {
        > .progress {
          display: block;
        }
      }
    }

    > div.errors {
      background-color: lighten($danger, 20);
      color: darken($danger, 20);
      > ul {
        margin: 0;
        padding: 10px 15px;
        list-style: none;
        > li {

        }
      }

      &:not(.visible) {
        visibility: hidden;
        opacity: 0;
        height: 0;
      }

      &.visible {
        margin-bottom: 15px;
        visibility: visible;
        opacity: 1;
      }
      position: relative;
      > span {
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        top: 1px;
        right: 8px;
        color: #ffffff;
      }
    }

    > div.fields-wrapper {
      div.multilang {
        max-width: 130px;
        margin-bottom: 25px;
        > ng-select.ng-select {
          > div.ng-control {
            min-height: 35px;
          }
        }
      }
    }
  }
}