@import '../../assets/sass/partials/imports';

app-login {
  > div.container {
    @include box-shadow();
    background-color: #ffffff;
    border-radius: $borderRadius;
    margin: 200px auto;
    max-width: 600px;
    padding: 20px 40px;
    > h3 {
      text-align: center;
      margin-bottom: 25px;
    }
  }
}