@import '../../../../../../assets/sass/partials/imports';

app-input-textarea {
  div.form-group {
    > editor {
      > div.mce-tinymce {
        border: 1px solid $lightGrey;
        border-radius: $borderRadius;
        box-shadow: none;
      }
    }

    &.has-error {
      > editor {
        > div.mce-tinymce {
          border-color: $danger;
        }
      }
    }
  }
}