<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'" [ngClass]="{'hidden': field.hidden}">
  <div class="form-group" [ngClass]="{'has-error': !isValid()}">
    <label for="{{field.key}}">
      {{field.label}}
      <span *ngIf="isRequired()">*</span>
    </label>
    <input
            type="email"
            [attr.disabled]="field.disabled || onlyView ? '' : null"
            formControlName="{{field.key}}"
            class="form-control"
            id="{{field.key}}"
            placeholder="{{field.placeholder}}"
            value="{{field.value}}"
    >
    <span *ngIf="field.description" class="help-block">{{field.description}}</span>
  </div>
</div>