<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'" [ngClass]="{'hidden': field.hidden}">
  <div class="form-group" [ngClass]="{'has-error': !isValid()}">
    <label for="{{field.key}}">
      {{field.label}}
      @if (isRequired()) {
        <span>*</span>
      }
    </label>
    <input
      type="email"
      [attr.disabled]="field.disabled || onlyView ? '' : null"
      formControlName="{{field.key}}"
      class="form-control"
      id="{{field.key}}"
      placeholder="{{field.placeholder}}"
      value="{{field.value}}"
      >
    @if (field.description) {
      <span class="help-block">{{field.description}}</span>
    }
  </div>
</div>