@use "../../../environments/colors";
@use "../partials/variables";

@mixin card($paddingY: variables.$cardPaddingY, $paddingX: variables.$cardPaddingX, $border: 1px solid colors.$lightGrey) {
  background-color: #ffffff;
  border-radius: variables.$borderRadius;
  padding: $paddingY $paddingX;
  margin: 20px 0 0;
  border: $border;

  > header {
    background: #efefef;
    margin: -#{$paddingY} -#{$paddingX} $paddingY;
    > h3 {
      margin: 0;
      padding: 15px $paddingY;
      font-size: 16px;
      font-weight: 400;
    }
  }
}