@mixin card($paddingY: $cardPaddingY, $paddingX: $cardPaddingX, $border: 1px solid $lightGrey) {
  background-color: #ffffff;
  border-radius: $borderRadius;
  padding: $paddingY $paddingX;
  margin: 20px 0 0;
  border: $border;

  > header {
    background: #efefef;
    margin: -#{$paddingY} -#{$paddingX} $paddingY;
    > h3 {
      margin: 0;
      padding: 15px $paddingY;
      font-size: 14px;
      font-weight: 400;
    }
  }
}