:host {
  .ng2-smart-row {
    &.selected {
      background: rgba(0, 0, 0, 0.05);
    }
    .ng2-smart-actions {
      &.ng2-smart-action-multiple-select {
        text-align: center;
      }
      &.ng2-smart-action-drag {
        width: 10px;
        text-align: center;
        padding: 0;
        > span {
          cursor: move;
          padding: 30px 10px;
          display: block;
          > i {
            pointer-events: none;
          }
        }
      }
    }
  }
}
