@for (row of grid.getRows(); track row) {
  <tr
    class="ng2-smart-row"
    [style.background]="getRowBgColor(row)"
    [ngClass]="{selected: row.isSelected}">
    @if (isDragEnabled) {
      <td class="ng2-smart-actions ng2-smart-action-drag">
        <span class="drag"><i class="fa fa-arrows"></i></span>
      </td>
    }
    @if (isMultiSelectVisible) {
      <td class="ng2-smart-actions ng2-smart-action-multiple-select"
        (click)="onMultipleSelectRow($event, row)">
        <label class="checkbox">
          <input type="checkbox"
            [ngModel]="row.isSelected"
            class="form-control">
          <span></span>
        </label>
      </td>
    }
    @for (cell of row.cells; track cell; let i = $index) {
      <td [ngClass]="setClasses(cell)">
        <ng2-smart-table-cell [cell]="cell"
          [grid]="grid"
          [row]="row"
          [isNew]="false"
          [mode]="mode">
        </ng2-smart-table-cell>
      </td>
    }
    @if (!row.isInEditing && showActionsColumn) {
      <td class="ng2-smart-actions">
        <ng2-st-tbody-actions
          [row]="row"
          [grid]="grid"
          (action)="action.emit($event)"
        ></ng2-st-tbody-actions>
      </td>
    }
  </tr>
}

@if (grid.getRows().length == 0) {
  <tr>
    <td [attr.colspan]="getColspan()">
      {{ noDataMessage }}
    </td>
  </tr>
}
