<div [ngSwitch]="field.type"
     [hidden]="!isVisible()">

    <app-separator
            *ngSwitchCase="formConfig.noInputTypes.SEPARATOR"
            [field]="field">
    </app-separator>

    <app-gallery
            *ngSwitchCase="formConfig.noInputTypes.GALLERY"
            [field]="field">
    </app-gallery>

    <app-input-text
            *ngSwitchCase="formConfig.types.TEXT"
            [isSubField]="isSubField"
            [onlyView]="onlyView"
            [form]="form"
            [groupName]="groupName"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-input-text>

    <app-geo-search
            *ngSwitchCase="formConfig.types.GEOSEARCH"
            [isSubField]="isSubField"
            [onlyView]="onlyView"
            [form]="form"
            [groupName]="groupName"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-geo-search>

    <app-plain
            *ngSwitchCase="formConfig.types.PLAIN"
            [isSubField]="isSubField"
            [onlyView]="onlyView"
            [form]="form"
            [groupName]="groupName"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-plain>


    <app-input-password
            *ngSwitchCase="formConfig.types.PASSWORD"
            [isSubField]="isSubField"
            [onlyView]="onlyView"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-input-password>

    <app-input-url
            *ngSwitchCase="formConfig.types.URL"
            [isSubField]="isSubField"
            [onlyView]="onlyView"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-input-url>

    <app-input-number
            *ngSwitchCase="formConfig.types.NUMBER"
            [isSubField]="isSubField"
            [onlyView]="onlyView"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-input-number>

    <app-input-color
            *ngSwitchCase="formConfig.types.COLOR"
            [isSubField]="isSubField"
            [onlyView]="onlyView"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index"
    ></app-input-color>

    <app-input-textarea
            *ngSwitchCase="formConfig.types.TEXTAREA"
            [isSubField]="isSubField"
            [onlyView]="onlyView"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-input-textarea>

    <app-select
            *ngSwitchCase="formConfig.types.SELECT"
            [isSubField]="isSubField"
            [onlyView]="onlyView"
            [groupName]="groupName"
            [unique]="unique"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-select>

    <app-select-2
            *ngSwitchCase="formConfig.types.SELECT_2"
            [isSubField]="isSubField"
            [onlyView]="onlyView"
            [groupName]="groupName"
            [unique]="unique"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-select-2>

    <app-input-email
            *ngSwitchCase="formConfig.types.EMAIL"
            [isSubField]="isSubField"
            [onlyView]="onlyView"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-input-email>

    <app-checkbox
            *ngSwitchCase="formConfig.types.CHECKBOX"
            [isSubField]="isSubField"
            [onlyView]="onlyView"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-checkbox>

    <app-date-picker
            *ngSwitchCase="formConfig.types.DATE"
            [isSubField]="isSubField"
            [onlyView]="onlyView"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index"
    ></app-date-picker>

    <app-date-range-picker
            *ngSwitchCase="formConfig.types.DATE_RANGE"
            [isSubField]="isSubField"
            [onlyView]="onlyView"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index"
    ></app-date-range-picker>

    <app-timetable-picker
            *ngSwitchCase="formConfig.types.TIMETABLE"
            [isSubField]="isSubField"
            [onlyView]="onlyView"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index"
    ></app-timetable-picker>


    <app-file-upload
            *ngSwitchCase="formConfig.types.FILE"
            [groupName]="groupName"
            [onlyView]="onlyView"
            [putFilesOnLanguages]="putFilesOnLanguages"
            [form]="form"
            [currentLang]="currentLang"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index"
    ></app-file-upload>

    <app-cloudinary-library
            *ngSwitchCase="formConfig.types.CLOUDINARY"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index"
    ></app-cloudinary-library>

    <app-preview
            *ngSwitchCase="formConfig.types.PREVIEW"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index"
    ></app-preview>

    <app-map
            *ngSwitchCase="formConfig.types.MAP"
            [groupName]="groupName"
            [onlyView]="onlyView"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-map>
    <app-list-details
            *ngSwitchCase="formConfig.types.LIST_DETAILS"
            [form]="form"
            [groupName]="groupName"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-list-details>

    <!--

                     <calendar
                             *ngSwitchCase="formConfig.types.CALENDAR"
                             [form]="form"
                             [field]="field">
                     </calendar> -->

</div>