<div
  [hidden]="!isVisible()">
  @switch (field.type) {
    @case (formConfig.noInputTypes.SEPARATOR) {
      <app-separator
        [field]="field">
      </app-separator>
    }
    @case (formConfig.noInputTypes.GALLERY) {
      <app-gallery
        [field]="field">
      </app-gallery>
    }
    @case (formConfig.types.IMAGE) {
      <app-image
        [field]="field"
        [form]="form">
      </app-image>
    }
    @case (formConfig.types.TEXT) {
      <app-input-text
        [isSubField]="isSubField"
        [onlyView]="onlyView"
        [form]="form"
        [groupName]="groupName"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index">
      </app-input-text>
    }
    @case (formConfig.types.GEOSEARCH) {
      <app-geo-search
        [isSubField]="isSubField"
        [onlyView]="onlyView"
        [form]="form"
        [groupName]="groupName"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index">
      </app-geo-search>
    }
    @case (formConfig.types.PLAIN) {
      <app-plain
        [isSubField]="isSubField"
        [onlyView]="onlyView"
        [form]="form"
        [groupName]="groupName"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index">
      </app-plain>
    }
    @case (formConfig.types.PASSWORD) {
      <app-input-password
        [isSubField]="isSubField"
        [onlyView]="onlyView"
        [groupName]="groupName"
        [form]="form"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index">
      </app-input-password>
    }
    @case (formConfig.types.URL) {
      <app-input-url
        [isSubField]="isSubField"
        [onlyView]="onlyView"
        [groupName]="groupName"
        [form]="form"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index">
      </app-input-url>
    }
    @case (formConfig.types.NUMBER) {
      <app-input-number
        [isSubField]="isSubField"
        [onlyView]="onlyView"
        [groupName]="groupName"
        [form]="form"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index">
      </app-input-number>
    }
    @case (formConfig.types.COLOR) {
      <app-input-color
        [isSubField]="isSubField"
        [onlyView]="onlyView"
        [groupName]="groupName"
        [form]="form"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index"
      ></app-input-color>
    }
    @case (formConfig.types.TEXTAREA) {
      <app-input-textarea
        [isSubField]="isSubField"
        [onlyView]="onlyView"
        [groupName]="groupName"
        [form]="form"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index">
      </app-input-textarea>
    }
    @case (formConfig.types.SELECT) {
      <app-select
        [isSubField]="isSubField"
        [onlyView]="onlyView"
        [groupName]="groupName"
        [unique]="unique"
        [form]="form"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index">
      </app-select>
    }
    @case (formConfig.types.SELECT_2) {
      <app-select-2
        [isSubField]="isSubField"
        [onlyView]="onlyView"
        [groupName]="groupName"
        [unique]="unique"
        [form]="form"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index">
      </app-select-2>
    }
    @case (formConfig.types.EMAIL) {
      <app-input-email
        [isSubField]="isSubField"
        [onlyView]="onlyView"
        [groupName]="groupName"
        [form]="form"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index">
      </app-input-email>
    }
    @case (formConfig.types.CHECKBOX) {
      <app-checkbox
        [isSubField]="isSubField"
        [onlyView]="onlyView"
        [groupName]="groupName"
        [form]="form"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index">
      </app-checkbox>
    }
    @case (formConfig.types.DATE) {
      <app-date-picker
        [isSubField]="isSubField"
        [onlyView]="onlyView"
        [groupName]="groupName"
        [form]="form"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index"
      ></app-date-picker>
    }
    @case (formConfig.types.DATE_RANGE) {
      <app-date-range-picker
        [isSubField]="isSubField"
        [onlyView]="onlyView"
        [groupName]="groupName"
        [form]="form"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index"
      ></app-date-range-picker>
    }
    @case (formConfig.types.TIMETABLE) {
      <app-timetable-picker
        [isSubField]="isSubField"
        [onlyView]="onlyView"
        [groupName]="groupName"
        [form]="form"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index"
      ></app-timetable-picker>
    }
    @case (formConfig.types.FILE) {
      <app-file-upload
        [groupName]="groupName"
        [onlyView]="onlyView"
        [putFilesOnLanguages]="putFilesOnLanguages"
        [form]="form"
        [currentLang]="currentLang"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index"
      ></app-file-upload>
    }
    @case (formConfig.types.CLOUDINARY) {
      <app-cloudinary-library
        [groupName]="groupName"
        [form]="form"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index"
      ></app-cloudinary-library>
    }
    @case (formConfig.types.PREVIEW) {
      <app-preview
        [groupName]="groupName"
        [form]="form"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index"
      ></app-preview>
    }
    @case (formConfig.types.MAP) {
      <app-map
        [groupName]="groupName"
        [onlyView]="onlyView"
        [form]="form"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index">
      </app-map>
    }
    @case (formConfig.types.LIST_DETAILS) {
      <app-list-details
        [form]="form"
        [groupName]="groupName"
        [field]="field"
        [isEdit]="isEdit"
        [index]="index">
      </app-list-details>
    }
    @case (formConfig.types.HOTSPOT) {
      <app-hotspot
        [field]="field"
        [groupName]="groupName"
        [form]="form"
        [isEdit]="isEdit"
        [index]="index">
      </app-hotspot>
    }
    @case (formConfig.types.HOTSPOT_CANVAS) {
      <app-hotspot-canvas
        [field]="field"
        [groupName]="groupName"
        [form]="form"
        [isEdit]="isEdit"
        [index]="index">
      </app-hotspot-canvas>
    }
    <!--
    <calendar
      *ngSwitchCase="formConfig.types.CALENDAR"
      [form]="form"
      [field]="field">
    </calendar> -->
  }
</div>
