<div [ngSwitch]="field.type">

    <app-separator
            *ngSwitchCase="formConfig.noInputTypes.SEPARATOR"
            [field]="field">
    </app-separator>

    <app-input-text
            *ngSwitchCase="formConfig.types.TEXT"
            [form]="form"
            [groupName]="groupName"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-input-text>

    <app-plain
            *ngSwitchCase="formConfig.types.PLAIN"
            [form]="form"
            [groupName]="groupName"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-plain>


    <app-input-password
            *ngSwitchCase="formConfig.types.PASSWORD"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-input-password>

    <app-input-url
            *ngSwitchCase="formConfig.types.URL"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-input-url>

    <app-input-number
            *ngSwitchCase="formConfig.types.NUMBER"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-input-number>

    <app-input-color
            *ngSwitchCase="formConfig.types.COLOR"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index"
    ></app-input-color>

    <app-input-textarea
            *ngSwitchCase="formConfig.types.TEXTAREA"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-input-textarea>

    <app-select
            *ngSwitchCase="formConfig.types.SELECT"
            [groupName]="groupName"
            [unique]="unique"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-select>

    <app-input-email
            *ngSwitchCase="formConfig.types.EMAIL"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-input-email>

    <app-checkbox
            *ngSwitchCase="formConfig.types.CHECKBOX"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-checkbox>

    <app-date-time
            *ngSwitchCase="formConfig.types.DATE"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index"
    ></app-date-time>

    <app-date-time-range
            *ngSwitchCase="formConfig.types.DATE_RANGE"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index"
    ></app-date-time-range>

    <app-file-upload
            *ngSwitchCase="formConfig.types.FILE"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index"
    ></app-file-upload>

    <app-preview
            *ngSwitchCase="formConfig.types.PREVIEW"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index"
    ></app-preview>

    <app-map
            *ngSwitchCase="formConfig.types.MAP"
            [groupName]="groupName"
            [form]="form"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-map>
    <app-list-details
            *ngSwitchCase="formConfig.types.LIST_DETAILS"
            [form]="form"
            [groupName]="groupName"
            [field]="field"
            [isEdit]="isEdit"
            [index]="index">
    </app-list-details>

    <!--

                     <calendar
                             *ngSwitchCase="formConfig.types.CALENDAR"
                             [form]="form"
                             [field]="field">
                     </calendar> -->

</div>