@import '../../../../../../assets/sass/partials/imports';

ng2-smart-table-general-actions {
  > div {
    display: inline-block;
    width: 100%;
    clear: both;
    margin: 30px 0 20px;
    > a.ng2-smart-action {
      padding: 10px 20px;
      font-size: 15px;
    }
  }
}