@import '../../../../../../assets/sass/partials/imports';

ng2-smart-table-general-actions {
  > div {
    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      > li {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 15px;
        }
        > a.ng2-smart-action {
          display: inline-block;

          @include respond-to(from-sm) {
            padding: 10px 20px;
            font-size: 15px;
          }

          @include respond-to(xs) {
            padding: 8px 15px;
            font-size: 14px;
          }

        }
      }
    }
  }
}