<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'" [ngClass]="{'hidden': field.hidden}">
    <div class="form-group">
        <div class="form-wrapper">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group no-margin" [ngClass]="{'has-error': !isValid(field.lat.key)}">
                        <label for="{{field.lat.key}}">
                            {{field.lat.label}}
                            <span *ngIf="isRequired('lat')">*</span>
                        </label>
                        <input
                                type="number"
                                [attr.disabled]="field.lat.disabled || onlyView ? '' : null"
                                formControlName="{{field.lat.key}}"
                                class="form-control"
                                id="{{field.lat.key}}"
                                placeholder="{{field.lat.placeholder}}"
                        >
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group no-margin" [ngClass]="{'has-error': !isValid(field.lng.key)}">
                        <label for="{{field.lng.key}}">
                            {{field.lng.label}}
                            <span *ngIf="isRequired('lng')">*</span>
                        </label>
                        <input
                                type="number"
                                [attr.disabled]="field.lng.disabled || onlyView ? '' : null"
                                formControlName="{{field.lng.key}}"
                                class="form-control"
                                id="{{field.lng.key}}"
                                placeholder="{{field.lng.placeholder}}"
                        >
                    </div>
                </div>
            </div>
            <span *ngIf="field.description" class="help-block">{{field.description}}</span>
        </div>

      <div *ngIf="_mapsService.apiLoaded | async">
        <google-map
          [height]="350"
          [options]="options"
          (mapClick)="onMarkerChanged($event)">
            <map-marker [position]="markerPosition()"
                        [options]="markerOptions"
                        (mapDrag)="onMarkerChanged($event)">
            </map-marker>
        </google-map>
      </div>
    </div>
</div>

