<ng-template let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button *ngIf="closeButton" type="button" class="close" aria-label="{{closeButton}}" (click)="d('dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div [ngClass]="bodyClass || 'modal-body'" *ngIf="body" [innerHTML]="body">
  </div>
  <div class="modal-footer">
    <button type="button" [ngClass]="okButtonClass || 'btn btn-lg btn-primary'" (click)="c('ok')" *ngIf="okButton">{{okButton}}</button>
    <button type="button" [ngClass]="cancelButtonClass || 'btn btn-lg btn-link'" (click)="d('cancel')" *ngIf="cancelButton">{{cancelButton}}</button>
  </div>
</ng-template>
