<div class="container form-center">
    <div class="row">
        <div [class]="environment.auth.passwordChange.form.class ? environment.auth.passwordChange.form.class : 'col-sm-12'">
            <app-form
                    [settings]="environment.auth.passwordChange.form"
                    [enableAutoSubmit]="true"
                    (response)="onSubmit($event)"
                    [isExternalForm]="true"
                    [isExternalLoading]="isLoading">
            </app-form>
        </div>
    </div>
</div>
