<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'" [ngClass]="{'hidden': field.hidden}">
  <div class="form-group" [ngClass]="{'has-error': !isValid}">

    <!-- Label -->
    <label for="{{field.key}}">
      {{field.label}}
      <span *ngIf="field.validators && field.validators.required">*</span>
    </label>

    <!-- Input -->
    <input
            type="password"
            [attr.disabled]="field.disabled ? '' : null"
            formControlName="{{field.key}}"
            class="form-control"
            id="{{field.key}}"
            placeholder="{{field.placeholder}}"
            value="{{field.value}}"
    >

  </div>
</div>

<div *ngIf="field.confirm" [formGroup]="form" [class]="field.confirm.class ? field.confirm.class : 'col-sm-12'">
  <div class="form-group" [ngClass]="{'has-error': !passwordMatch}">

    <!-- Label -->
    <label for="{{field.confirm.key}}">
      {{field.confirm.label}}
      *
    </label>

    <!-- Input -->
    <input
            type="password"
            [attr.disabled]="field.confirm.disabled ? '' : null"
            formControlName="{{field.confirm.key}}"
            class="form-control"
            id="{{field.confirm.key}}"
            placeholder="{{field.confirm.placeholder}}"
    >

    <!-- Others -->
    <span *ngIf="showPasswordError" class="help-block">{{field.confirm.errorMessage}}</span>
  </div>
</div>
