<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'">
    <div [formArrayName]="field.key">
        <!-- Label -->
        <label>
            {{field.label}}
            <span *ngIf="field.validators && field.validators.required">*</span>
        </label>

        <button type="button" (click)="addDetail()" class="btn btn-primary">Add</button>

        <div [dragula]="!!field.drag && subForms.length > 1"
             [dragulaModel]="subForms"
             [dragulaOptions]="{}"
             style="border: 1px solid red"
             *ngFor="let control of getControl().controls; let i = index" [formGroupName]="i">
            <div *ngFor="let controlField of field.fields">
                <app-form-type-switcher [form]="control" [field]="controlField"
                                        [isEdit]="isEdit"></app-form-type-switcher>
            </div>
            <!--<button (click)="deleteDetail(i)" class="btn btn-danger">Delete</button>-->
        </div>
    </div>
</div>