<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'" [ngClass]="{'hidden': field.hidden}">
    <div class="form-group"
         [ngClass]="{'has-error': !isValid}">

        <label class="select-label">{{field.label}}</label>
        <span *ngIf="field.validators && field.validators.required">*</span>

        <ng-select *ngIf="field.multiple"
                   [attr.disabled]="field.disabled ? '' : null"
                   [items]="options"
                   [multiple]="true"
                   bindLabel="text"
                   placeholder="{{field.placeholder}}"
                   [(ngModel)]="selected"
                   (change)="onChange($event)"
                   [ngModelOptions]="{standalone: true}"
        >
        </ng-select>

        <ng-select *ngIf="!field.multiple"
                   [attr.disabled]="field.disabled ? '' : null"
                   [items]="options"
                   [multiple]="false"
                   (change)="onChange($event)"
                   bindValue="id"
                   bindLabel="text"
                   placeholder="{{field.placeholder}}"
                   formControlName="{{field.key}}"
        >
        </ng-select>

    </div>

    <!-- Others -->
    <span *ngIf="field.description" class="help-block sub-little-text">{{field.description}}</span>
</div>