@import '../../../../../../assets/sass/partials/imports';

app-select {
  > div {
    > div.form-group {
      &.has-error {
        > label {
          color: $danger;
          + span {
            color: $danger;
          }
        }
        > ng-select.ng-select {
          > div.ng-control {
            border-color: $danger;
          }
        }
      }
    }
  }
}
