<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'">
    <div class="form-group"
         [ngClass]="{'has-error': !isValid}">

        <label class="select-label">{{field.label}}</label>
        <span *ngIf="field.validators && field.validators.required">*</span>

        <ng-select [items]="options"
                   [multiple]="!!field.multiple"
                   formControlName="{{field.key}}"
                   bindLabel="text"
                   bindValue="id"
                   placeholder="{{field.placeholder}}"
        >
        </ng-select>

    </div>

    <!-- Others -->
    <span *ngIf="field.description" class="help-block sub-little-text">{{field.description}}</span>
</div>