@import '../../assets/sass/partials/imports';

app-panel {
  $navbarHeight: 50px;
  $sidebarWidth: 300px;
  > nav.navbar {
    border: none;
    // border-bottom: 1px solid $grey;
    @include box-shadow(0px, 1px, 5px, 0, rgba(0, 0, 0, 0.15));
    background-color: #ffffff;
    > div.container-fluid {
      margin-right: 0;
      > div.navbar-header {
        float: left;
        margin-left: -15px;
        position: relative;
        > a.navbar-brand {
          color: $primary;
          font-size: 20px;
          padding: 15px 30px;
          font-weight: $regular;
          > img {
            margin: -8.5px 0;
            max-width: 150px;
            max-height: 40px;
          }
        }
        > span.toggler {
          cursor: pointer;
          font-size: 20px;
          position: absolute;
          top: 6px;
          right: 0;
          color: $primary;
          padding: 4px;
        }

        @include respond-to(from-sm) {
          width: $sidebarWidth;
        }
      }
      > div.navbar-menu {
        float: right;
        > ul {
          margin: 0 -15px;
          > li {
            display: inline-block;
            > a {
              color: #777;
              padding: 15px;
              cursor: pointer;
              &.toggler {
                color: $primary;
                font-size: 15px;
              }
              &.logout {
                color: $primary;
                &:hover {
                  background-color: $lightGrey;
                }
              }
            }
          }
        }
      }
    }
  }

  > .wrapper {
    @include clearfix();

    > .sidebar {
      overflow-y: auto;
      height: 100%;
      position: fixed;
      z-index: 1029;
      left: 0;
      background-color: $sidebar;
      @include _transition(all 0.5s);

      > .menu {
        margin-top: $navbarHeight;
        > ul {
          margin: 0;
          padding: 0;
          list-style: none;
          > li {
            > span {
              cursor: pointer;
              display: block;
              > a {
                pointer-events: none;
                padding: 15px;
                color: $lightGrey;
                display: block;
                > i {
                  pointer-events: none;
                  width: 15px;
                  margin-right: 15px;
                }
                > span.fa-angle-down {
                  @include _transition(all 0.3s);
                  pointer-events: none;
                  margin: 3px 13px 0 0;
                  float: right;
                }
                &.active {
                  color: #ffffff;
                  background-color: $sidebarLight;
                  > i {
                    color: $primary;
                  }
                  &:hover {
                    > i {
                      color: #ffffff;
                    }
                  }
                }
              }
              &:hover {
                background-color: $primary !important;
              }
              &.open {
                background-color: $sidebarDark;
                > span {
                  @include _transform(rotate(180deg));
                }
              }
            }
            > ul {
              background-color: $sidebarDark;
              display: none;
              margin: 0;
              padding: 0;
              list-style: none;
              > li {
                > span {
                  cursor: pointer;
                  display: block;
                  > a {
                    pointer-events: none;
                    display: block;
                    padding: 15px 0 15px 45px;
                    color: #ddd;
                    > i {
                      pointer-events: none;
                      width: 15px;
                      margin-right: 15px;
                    }
                    &.active {
                      color: #ffffff;
                      background-color: $sidebarLight;
                      > i {
                        color: $primary;
                      }
                    }
                  }
                  &:hover {
                    background-color: $primary;
                  }
                }
              }
            }
          }
        }
      }

      @include respond-to(xs) {
        width: 100%;
      }
      @include respond-to(from-sm) {
        width: $sidebarWidth;
      }
    }

    > .content {
      margin-top: $navbarHeight;
      float: right;
      @include _transition(all 0.5s);

      @include respond-to(from-sm) {
        width: calc(100% - #{$sidebarWidth});
      }

      @include respond-to(xs) {
        width: 100%;
      }

      div.warnings {
        margin-top: 15px;
      }
    }

    &.sidebar-closed {
      > .sidebar {
        @include _transform(translateX(-100%));
      }
      > .content {
        width: 100%;
      }
    }
  }
}