<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="homePage">
                <img *ngIf="showLogo" [src]="logo">
                <span *ngIf="!showLogo">{{ title }}</span>
            </a>
            <span class="toggler" (click)="toggleSidebar()"><i class="fa fa-bars"></i></span>
        </div>
        <div class="navbar-menu">
            <ul class="nav navbar-nav">
                <li><a class="user" [routerLink]="'/panel/profile'" routerLinkActive="active"><i class="fa fa-user"></i> {{user.username}}</a></li>
                <li><a (click)="logout()" class="logout"><i class="fa fa-power-off"></i> <span
                        class="hidden-xs">Logout</span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper" id="wrapper">
    <div class="sidebar">
        <div class="menu">
            <ul>
                <li *ngFor="let item of menu">
                    <a *ngIf="!item.children" [routerLink]="item.path" routerLinkActive="active"><i *ngIf="item.icon" class="{{item.icon}}"></i>{{item.title}}</a>
                    <a *ngIf="item.children && item.children.length > 0" (click)="onGroupClick($event)"><i *ngIf="item.icon" class="{{item.icon}}"></i>{{item.title}}
                        <span class="fa fa-angle-down"></span></a>
                    <ul *ngIf="item.children">
                        <li *ngFor="let child of item.children">
                            <a [routerLink]="child.path" routerLinkActive="active"><i *ngIf="child.icon"
                                                                                      class="{{child.icon}}"></i>{{child.sideTitle ? child.sideTitle : child.title}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <app-content-top></app-content-top>

        <div class="container warnings" *ngIf="menu.length == 0">
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        User not authorized <!-- TODO: show custom message -->
                    </div>
                </div>
            </div>
        </div>

        <router-outlet></router-outlet>
    </div>
</div>

