@import '../../assets/sass/partials/imports';

app-panel {
  $navbarHeight: 50px;
  > nav.navbar {
    border: none;
    background-color: #ffffff;
    @include box-shadow(0, 1px, 5px, 0);
    > div.container {
      margin-right: 0;
      > div.navbar-header {
        > a.navbar-brand {
          color: $primary;
          padding-left: 0;
          font-weight: bold;
          font-size: 20px;
        }
      }
      > div.navbar-collapse {
        @include respond-to(xs) {
          margin-top: -1px;
        }
        &.collapse {
          display: block;
        }
        > ul.navbar-nav {
          margin: 0 -15px;
          float: right;
          max-width: 100px;
          > li {
            float: none;
            > a {
              padding: 15px;
              cursor: pointer;
              &.logout {
                font-weight: bold;
                background-color: $error;
                color: #ffffff;
                &:hover {
                  background-color: darken($error, 20);
                }
              }
            }
          }
        }
      }
    }
  }

  > .wrapper {
    $sidebarWidth: 250px;

    &.sidebar-closed {
      > .sidebar {
        @include _transform(translateX(-190px));
      }
      > .content {
        margin-left: 60px;
      }
    }
    > .sidebar {
      height: 100%;
      position: fixed;
      z-index: 1031;
      top: 0;
      left: 0;
      background-color: $sidebar;
      overflow-x: hidden;
      width: $sidebarWidth;
      @include _transition(all 0.5s);

      > .header {
        position: fixed;
        z-index: 1040;
        background-color: $sidebar;
        width: $sidebarWidth;
        > span.toggler {
          cursor: pointer;
          font-size: 20px;
          position: absolute;
          top: 6px;
          right: 0;
          color: #ffffff;
          padding: 4px 22px;
        }

        > .title {
          display: block;
          padding-left: 15px;
          font-size: 20px;
          color: #ffffff;
          line-height: $navbarHeight;
          height: $navbarHeight;
          border-bottom: 1px solid #ddd;
        }
      }


      > .menu {
        > ul {
          margin: 0;
          padding: 0;
          list-style: none;
          > li {
            > a {
              cursor: pointer;
              display: block;
              padding: 15px;
              color: $grey;
              > span {
                pointer-events: none;
                margin: 3px 13px 0 0;
                float: right;
              }
              > i {
                pointer-events: none;
                width: 15px;
                margin-right: 15px;
              }
              &:hover, &.open {
                background-color: lighten($sidebar, 3);
              }
              &.active {
                background-color: lighten($sidebar, 15);
              }
            }
            > ul {
              display: none;
              margin: 0;
              padding: 0;
              list-style: none;
              > li {
                > a {
                  cursor: pointer;
                  display: block;
                  padding: 15px;
                  padding-left: 45px;
                  color: $grey;
                  &:hover {
                    background-color: lighten($sidebar, 5);
                  }
                  &.active {
                    background-color: lighten($sidebar, 15);
                  }
                }
              }
            }
          }
        }
      }
    }

    > .content {
      margin-top: $navbarHeight;
      @include _transition(margin-left 0.5s);
      padding: 20px;
      margin-left: $sidebarWidth;
    }
  }
}