@import '../../assets/sass/partials/imports';

app-panel {
  $navbarHeight: 50px;
  $sidebarWidth: 280px;
  > nav.navbar {
    border: none;
    border-bottom: 1px solid $grey;
    background-color: #ffffff;
    > div.container-fluid {
      margin-right: 0;
      > div.navbar-header {
        width: $sidebarWidth;
        margin-left: -15px;
        position: relative;
        > a.navbar-brand {
          color: $primary;
          font-size: 20px;
          padding-left: 30px;
          font-weight: $regular;
        }
        > span.toggler {
          cursor: pointer;
          font-size: 20px;
          position: absolute;
          top: 6px;
          right: 0;
          color: $primary;
          padding: 4px;
        }
      }
      > div.navbar-collapse {
        @include respond-to(xs) {
          margin-top: -1px;
        }
        &.collapse {
          display: block;
        }
        > ul.navbar-nav {
          margin: 0 -15px;
          float: right;
          max-width: 100px;
          > li {
            float: none;
            > a {
              padding: 15px;
              cursor: pointer;
              &.logout {
                font-weight: $regular;
                color: $primary;
                &:hover {
                  background-color: $lightGrey;
                }
              }
            }
          }
        }
      }
    }
  }

  > .wrapper {
    @include clearfix();

    &.sidebar-closed {
      > .sidebar {
        @include _transform(translateX(-100%));
      }
      > .content {
        width: 100%;
      }
    }
    > .sidebar {
      overflow-y: scroll;
      height: 100%;
      position: fixed;
      z-index: 1029;
      left: 0;
      background-color: $sidebar;
      width: $sidebarWidth;
      @include _transition(all 0.5s);

      > .menu {
        margin-top: $navbarHeight;
        > ul {
          margin: 0;
          padding: 0;
          list-style: none;
          > li {
            > a {
              cursor: pointer;
              display: block;
              padding: 15px;
              color: $lightGrey;
              > span {
                @include _transition(all 0.3s);
                pointer-events: none;
                margin: 3px 13px 0 0;
                float: right;
              }
              > i {
                pointer-events: none;
                width: 15px;
                margin-right: 15px;
              }
              &:hover {
                background-color: $primary !important;
              }
              &.open {
                background-color: $sidebarDark;
                > span {
                  @include _transform(rotate(180deg));
                }
              }
              &.active {
                color: #ffffff;
                background-color: $sidebarLight;
                > i {
                  color: $primary;
                }
              }
            }
            > ul {
              background-color: $sidebarDark;
              display: none;
              margin: 0;
              padding: 0;
              list-style: none;
              > li {
                > a {
                  cursor: pointer;
                  display: block;
                  padding: 15px 0 15px 45px;
                  color: #ddd;
                  > i {
                    pointer-events: none;
                    width: 15px;
                    margin-right: 15px;
                  }
                  &:hover {
                    background-color: $primary;
                  }
                  &.active {
                    color: #ffffff;
                    background-color: $sidebarLight;
                    > i {
                      color: $primary;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    > .content {
      margin-top: $navbarHeight;
      width: calc(100% - #{$sidebarWidth});
      float: right;
      @include _transition(all 0.5s);

      div.warnings {
        margin-top: 15px;
      }
    }
  }
}