.form-group {
  @include clearfix;
  margin-bottom: 25px;
  > label {
    font-weight: inherit;
    font-size: 13px;
    color: $default;
    + input {
      &.form-control {
        @include _form-input;
      }
    }
    + textarea {
      &.form-control {
        @include _form-input;
        resize: none;
        height: 150px;
        padding: 12px;
      }
    }
  }

  &.has-error {
    > label {
      color: $error;
      + input {
        border-color: $error;
        &:focus {
          border-color: $error;
        }
      }
    }
  }

  .help-block {
    font-size: 13px;
  }
}