.form-group {
  @include clearfix;

  margin-top: 0;
  /* Layout */
  &.no-margin {
    margin-bottom: 0;
  }
  &:not(.no-margin) {
    margin-bottom: 25px;
  }

  > label {
    font-weight: inherit;
    font-size: 13px;
    color: $default;
    + input {
      &.form-control {
        @include _form-input;
      }
    }
    + textarea {
      &.form-control {
        @include _form-input;
        resize: none;
        height: 150px;
        padding: 12px;
      }
    }

    /* Date picker */
    + div.ngui-datetime-picker-wrapper {
      > input {
        @include _form-input;
      }
    }
  }

  &.has-error {
    > label {
      color: $danger;
      + input {
        border-color: $danger;
        &:focus {
          border-color: $danger;
        }
      }

      /* Date picker */
      + div.ngui-datetime-picker-wrapper {
        > input {
          border-color: $danger;
          &:focus {
            border-color: $danger;
          }
        }
      }
    }
  }

  .help-block {
    color: $default;
    font-size: 13px;

    &.danger {
      color: $danger;
    }
    &.success {
      color: $success;
    }
  }
}

ng-select.ng-select.bottom {
  &.opened, &.focused {
    > div.ng-control {
      background-color: #f5f5f5;
      @include box-shadow(none);
      border-radius: $borderRadius;
      border: 1px solid $lightGrey;
    }
  }
  > div.ng-control {
    min-height: 45px;
    border-radius: $borderRadius;
    border: 1px solid $lightGrey;
    > span.ng-clear-zone {
      &:hover {
        > span {
          color: $sidebar;
        }
      }
    }

    > div.ng-value-container {
      > div.ng-value {
        overflow: hidden;
        border-radius: $borderRadius;
        border-color: $lightGrey;
        font-size: 13px;
        padding: 2px 5px;
        > span.ng-value-icon.left {
          border: none;
          padding: 0;
          &:hover {
            background-color: #f5f5f5;
          }
        }
        > span.ng-value-label {
          padding: 0;
        }
      }
    }
  }

  &[ng-reflect-multiple="true"] {
    > div.ng-control {
      > div.ng-value-container {
        > div.ng-value {
          background-color: #f5f5f5;
        }
      }
    }
  }
  > div.ng-select-dropdown-outer {
    margin-top: 0;
    border-radius: $borderRadius;
    border: 1px solid $lightGrey;
    > ng-select-virtual-scroll.ng-select-dropdown {
      > div {
        > div.ng-option {
          border-radius: $borderRadius;
          &.marked {
            background-color: #f5f5f5;
          }
        }
      }
    }
  }
}

label.checkbox {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
  & > input {
    height: 0;
    z-index: -100 !important;
    opacity: 0;
    &:checked {
      & + span {
        &:before {
          font: normal normal normal 17px/1 FontAwesome;
          text-decoration: inherit;
          text-rendering: optimizeLegibility;
          text-transform: none;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
          border-color: $primary;
          background-color: $primary;
          color: #ffffff;
          content: "\f17b";
          font-size: 16px;
        }
      }
    }
  }
  & > span {
    $size: 18px;
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: $size;
    cursor: pointer;
    padding-left: 22px;
    width: 100%;
    &:before {
      color: $primary;
      cursor: pointer;
      font-size: 17px;
      line-height: 17px;
      height: $size;
      width: $size;
      content: '';
      background-color: transparent;
      border: 1px solid $lightGrey;
      border-radius: 0;
      display: inline-block;
      text-align: center;
      margin-right: 6px;
      position: relative;
      top: 0;
      margin-left: -22px;
      float: left;
    }
  }
}