input {
  outline: none;
}

.form-group {
  @include clearfix;
  clear: both;

  margin-top: 0;
  /* Layout */
  &.no-margin {
    margin-bottom: 0;
  }
  &:not(.no-margin) {
    margin-bottom: 25px;
  }

  label {
    font-weight: inherit;
    font-size: 13px;
    color: $default;
  }

  input {
    &.form-control {
      @include _form-input;
    }
  }
  textarea {
    &.form-control {
      @include _form-input;
      resize: none;
      height: 150px;
      padding: 12px;
      &[readonly] {
        background-color: transparent !important;
        border: none;
        padding: 0;
        cursor: default;
      }
    }
  }

  &.has-error {
    label {
      color: $danger;
    }
    input, textarea {
      border-color: $danger;
      &:focus {
        border-color: $danger;
      }
    }

    ckeditor {
      > div.cke_2 {
        border-color: $danger;
      }
    }
  }

  .help-block {
    color: $default;
    font-size: 13px;

    &.danger {
      color: $danger;
    }
    &.success {
      color: $success;
    }
  }
}

/* Date picker */
div.date-picker-wrapper {
  position: relative;
  > span.remove {
    cursor: pointer;
    position: absolute;
    color: $default;
    font-size: 18px;
    top: 8px;
    right: 12px;
  }
}
.cdk-overlay-container {
  z-index: 1100;
}
owl-date-time-container.owl-dt-container {
  z-index: 3000;
  &.owl-dt-popup-container {
    margin-top: 5px;
    @include box-shadow();
    border: none;
    width: 220px;

    owl-date-time-calendar {
      border: none;
      height: auto;
    }

    div.owl-dt-calendar-control {
      font-size: 13px;
      color: $default;

      span.owl-dt-control-button-content {
        border-radius: $borderRadius;

        span.owl-dt-control-button-arrow {
          color: $default;
          @include _transition(none);
        }
      }
    }

    div.owl-dt-calendar-main {
      table.owl-dt-calendar-table {
        > thead.owl-dt-calendar-header {
          > tr.owl-dt-weekdays {
            > th.owl-dt-weekday {
              padding-top: 5px;
              color: $default;
              font-size: 11px;
            }
          }
        }

        > tbody {
          > tr {
            > td.owl-dt-calendar-cell {
              font-size: 14px;

              > span.owl-dt-calendar-cell-selected {
                background-color: $primary;
              }
            }
          }
        }
      }
    }

    owl-date-time-timer.owl-dt-timer {
      border-top: 1px solid $lightGrey;

      input.owl-dt-timer-input {
        font-weight: $light;
      }
    }

    div.owl-dt-container-info {
      color: $default;
      font-size: 15px;

      div.owl-dt-container-info-active {
        color: $primary;
      }
    }

    div.owl-dt-container-buttons {
      > button {
        > span {
          display: none;
        }

        position: relative;
        @include _transition(all 0.3s);

        &:after {
          position: absolute;
          display: inline-block;
          font: normal normal normal 14px/1 'Font Awesome 6 Free';
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          top: 5px;
          font-size: 12px;
          color: #ffffff;
        }

        &:first-child {
          background-color: $danger;

          &:hover {
            background-color: darken($danger, 20);
          }

          &:after {
            content: '\f342';
          }
        }

        &:last-child {
          background-color: $primary;

          &:hover {
            background-color: darken($primary, 20);
          }

          &:after {
            content: '\f17b';
          }
        }
      }
    }
  }
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: 12px;
}

ng-select.ng-select {

  &.disabled {
    > div.ng-select-container {
      cursor: not-allowed;
      background-color: #f5f5f5;
    }
  }
  &.opened, &.focused {
    > div.ng-select-container {
      background-color: #f5f5f5;
      @include box-shadow(none);
      border-radius: $borderRadius;
      border: 1px solid $lightGrey;
    }
  }
  > div.ng-select-container {
    min-height: 45px;
    border-radius: $borderRadius;
    border: 1px solid $lightGrey;
    > span.ng-clear-zone {
      &:hover {
        > span {
          color: $sidebar;
        }
      }
    }

    > div.ng-value-container {
      > div.ng-input, div.ng-placeholder {
        top: 12px;
      }
      > div.ng-value {
        top: 12px;
        overflow: hidden;
        border-radius: $borderRadius;
        border-color: $lightGrey;
        font-size: 13px;
        padding: 2px;
        > span.ng-value-icon.left {
          border: none;
          padding: 0;
          &:hover {
            background-color: #f5f5f5;
          }
        }
        > span.ng-value-label {
          padding: 0;
        }
      }
    }
  }

  &[ng-reflect-multiple="true"] {
    > div.ng-select-container {
      > div.ng-value-container {
        > div.ng-value {
          background-color: #f5f5f5;
        }
      }
    }
  }
  > div.ng-select-dropdown-outer {
    margin-top: 0;
    border-radius: $borderRadius;
    border: 1px solid $lightGrey;
    > ng-select-virtual-scroll.ng-select-dropdown {
      > div {
        > div.ng-option {
          border-radius: $borderRadius;
          &.marked {
            background-color: #f5f5f5;
          }
        }
      }
    }
  }
}

label.checkbox {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
  & > input {
    height: 0;
    z-index: -100 !important;
    opacity: 0;

    &:disabled {
      & + span {
        cursor: not-allowed;
        &:before {
          cursor: not-allowed;
        }
      }
    }

    &:checked {
      & + span {
        &:before {
          font: normal normal normal 17px/1 'Font Awesome 6 Free';
          text-decoration: inherit;
          text-rendering: optimizeLegibility;
          text-transform: none;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
          border-color: $primary;
          background-color: $primary;
          color: #ffffff;
          content: "\f00c";
          font-size: 16px;
        }
      }
    }
  }
  & > span {
    $size: 18px;
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: $size;
    cursor: pointer;
    padding-left: 22px;
    width: 100%;
    &:before {
      color: $primary;
      cursor: pointer;
      font-size: 17px;
      line-height: 17px;
      height: $size;
      width: $size;
      content: '';
      background-color: transparent;
      border: 1px solid $lightGrey;
      border-radius: 0;
      display: inline-block;
      text-align: center;
      margin-right: 6px;
      position: relative;
      top: 0;
      margin-left: -22px;
      float: left;
    }
  }
}
