/* Modals */

div.modal-content {
  box-shadow: none;
  border: 0;
  border-radius: $borderRadius;
  > modal-content {
    > modal-title {
      > .modal-header {
        padding: 10px 20px;
        border-bottom: 1px solid $lightGrey;
        > h3.modal-title {
          font-size: 18px;
        }
      }
    }
    > modal-body {
      > .modal-body {
        padding: 10px 20px;
      }
    }
    > modal-footer {
      > .modal-footer {
        padding: 10px 20px;
        text-align: right;
        border-top: 1px solid $lightGrey;
        button {
          margin: 0 5px 0 5px;
        }
      }
    }
  }
}




