div.toast-container {
  top: 20px;
  right: 20px;
  > div.toast {
    @include box-shadow();
    &:hover {
      @include box-shadow(5px, 5px, 10px, 0, rgba(0, 0, 0, 0.3));

    }
    &.toast-error {
      background-color: lighten($danger, 20);
      color: darken($danger, 20);
    }
    &.toast-success {
      background-color: lighten($success, 20);
      color: darken($success, 20);
    }
    &.toast-warning {
      background-color: lighten($warning, 20);
      color: darken($warning, 20);
    }
    &.toast-info {
      background-color: lighten($info, 20);
      color: darken($info, 20);
    }

    > button.toast-close-button {

    }
    > .toast-title {
      font-weight: $regular;
      text-transform: uppercase;
      font-size: 16px;
    }
    > .toast-message {
      font-weight: $light;
      font-size: 14px;
    }
  }
}

