@use "../../../environments/colors";
@use "../mixins/box-shadow";
@use "variables";

div.toast-container {
  z-index: 1030;
  position: fixed;
  border-radius: variables.$borderRadius;
  top: 55px;
  right: 20px;
  width: 300px;
  > div.toast {
    margin-bottom: 10px;
    color: #ffffff;
    padding: 15px 20px;
    @include box-shadow.box-shadow();
    &:hover {
      @include box-shadow.box-shadow(5px, 5px, 10px, 0, rgba(0, 0, 0, 0.3));
    }
    &.toast-error {
      background-color: colors.$danger;
    }
    &.toast-success {
      background-color: colors.$success;
    }
    &.toast-warning {
      background-color: colors.$warning;
    }
    &.toast-info {
      background-color: colors.$info;
    }

    > button.toast-close-button {
      cursor: pointer;
      outline: none;
      background-color: inherit;
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      > span {
        font-size: 16px;
      }
    }
    > .toast-title {
      font-weight: variables.$regular;
      text-transform: uppercase;
      font-size: 16px;
    }
    > .toast-message {
      font-weight: variables.$light;
      font-size: 14px;
      white-space: normal;
      word-wrap: break-word;
    }
  }
}

