@use "../../../environments/colors";
@use "../mixins/box-shadow";
@use "variables";

.mat-mdc-snack-bar-container.toast-snack-bar {
  margin-top: 55px;
  margin-right: 20px;
  border-radius: variables.$borderRadius;
  @include box-shadow.box-shadow();

  &:hover {
    @include box-shadow.box-shadow(5px, 5px, 10px, 0, rgba(0, 0, 0, 0.3));
  }

  .mdc-snackbar__surface {
    min-width: 300px;
    padding: 15px 20px;
  }

  .mat-mdc-snack-bar-label {
    padding: 0;
  }

  &.toast-snack-bar-error {
    --mdc-snackbar-container-color: #{colors.$danger};

    .mdc-snackbar__surface {
      background-color: colors.$danger;
    }
  }

  &.toast-snack-bar-success {
    --mdc-snackbar-container-color: #{colors.$success};

    .mdc-snackbar__surface {
      background-color: colors.$success;
    }
  }

  &.toast-snack-bar-warning {
    --mdc-snackbar-container-color: #{colors.$warning};

    .mdc-snackbar__surface {
      background-color: colors.$warning;
    }
  }

  &.toast-snack-bar-info {
    --mdc-snackbar-container-color: #{colors.$info};

    .mdc-snackbar__surface {
      background-color: colors.$info;
    }
  }
}
