/* Colors */
$primary: #2ca9d6;
$sidebar: #2a363d;
$sidebarDark: #222b31;
$sidebarLight: #34444b;

$error: #F44336;
$success: #4CAF50;
$warning: #FFC107;
$info: #2196F3;
$default: #777777;

$grey: #dddddd;

/* Sizes */
$borderRadius: 3px;

/* Font weights */
$light: 300;
$regular: 400;
$bold: 500;