/* Colors */
$primary: #2ca9d6;
$sidebar: #2a363d;
$sidebarDark: #222b31;
$sidebarLight: #48565d;

$error: #F44336;
$success: #4CAF50;
$warning: #FFC107;
$info: #2196F3;
$default: #8b9ca4;

$grey: #c6c6c6;
$lightGrey: #dddddd;

/* Sizes */
$borderRadius: 0;

/* Font weights */
$light: 300;
$regular: 400;
$bold: 500;