/* Colors */
$primary: #2ca9d6;
$sidebar: #2a363d;
$sidebarDark: #222b31;
$sidebarLight: #48565d;

$error: #f66d6e;
$success: #52bc76;
$warning: #fdc02f;
$info: #67c2dd;
$default: #8b9ca4;

$grey: #c6c6c6;
$lightGrey: #dddddd;

/* Sizes */
$borderRadius: 0;
$cardPaddingY: 20px;
$cardPaddingX: 30px;
$defaultFontSize: 16px;
$defaultLineHeight: 1.7;

/* Font weights */
$light: 300;
$regular: 400;
$bold: 500;