<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-data-paginator #paginator [service]="ticketService" [functionName]="'getMyTickets'" [hoverEffect]="true"
                          [objectToCreate]="itemClass">
        <div>
          <ng-template #header>
            <thead>
            <tr>
              <th>Titolo</th>
              <th>Categoria</th>
              <th>Data apertura</th>
              <th>Data ultimo aggiornamento</th>
              <th>Ultimo messaggio</th>
              <th>Stato</th>
              <th>Azioni</th>
            </tr>
            </thead>
          </ng-template>
          <ng-template #item let-item>
            <td>{{item.title}}</td>
            <td>{{item.category}}</td>
            <td>{{item.insertedAt}}</td>
            <td>{{item.updatedAt}}</td>
            <td><strong>{{getLastMessageSender(item.lastMessage)}}</strong>: {{item.lastMessage.message}}</td>
            <td>{{item.status}}</td>
            <td>
              <a class="ng2-smart-action warning"
                 (click)="onViewMessages(item)">
                <i class="fa fa-eye"></i>
              </a>
            </td>
          </ng-template>

          <ng-template #noData>
            <div class="standard-no-data-template">
              <p>Non hai ancora nessun ticket</p>
            </div>
          </ng-template>
        </div>
      </app-data-paginator>
    </div>
  </div>
</div>
