cdk-virtual-scroll-viewport {
  height: 400px;

}

app-data-paginator {
  > div {
    background-color: #ffffff;
    border-radius: 0;
    padding: 20px 30px;
    margin: 20px 0 0;
    border: 1px solid #dddddd;
    margin-bottom: 20px;

    table {
      margin: 0;
      border-collapse: separate;
      border: 1px solid #dddddd !important;
      border-spacing: 0;
      display: table;
      width: 100%;
      max-width: 100%;
      overflow: auto;
      word-break: keep-all;

      > thead {
        > tr {
          &:first-child {
            height: 45px;
            background-color: #f5f5f5;
            color: #8b9ca4;
          }

          > th {
            border: none;
            border-bottom: 1px solid #dddddd;
            font-size: 14px;
            margin: 0;
            padding: 5px 10px;
            line-height: 20px;
            vertical-align: middle;
            text-align: center;
            white-space: nowrap;
            font-weight: 400;

            &:not(:last-child) {
              border-right: 1px solid #dddddd;
            }
          }
        }
      }

      > tbody {
        > tr {

          > td {
            border: none;
            border-bottom: 1px solid #dddddd;
            font-weight: 300;
            height: 40px;
            color: #8b9ca4;
            font-size: 14px;
            margin: 0;
            padding: 5px 10px;
            vertical-align: middle;
            text-align: center;
            white-space: nowrap;

            &:not(:last-child) {
              border-right: 1px solid #dddddd;
            }
          }

          &:last-child {
            > td {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
