@import '../../../../../../assets/sass/partials/imports';

app-gallery {
  .gallery {
    border: 1px solid $lightGrey;
    > .container-fluid {
      padding: 15px 20px 0;
      > .row {
        > div {
          margin-bottom: 15px;
          > div.media {
            padding-top: 100%;
            background-size: cover;
            background-position: center;
            > .download {
              cursor: pointer;
              > i {
                float: right;
                font-size: 15px;
                margin-top: 2px;
              }
            }
          }
        }
      }
    }
  }
}