@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import 'partials/imports';
/* Partials */
@import 'partials/_buttons.scss';
@import 'partials/_alerts.scss';
@import 'partials/_modal.scss';
@import 'partials/_progress-bar.scss';
@import 'partials/_form.scss';
@import 'partials/_toasts.scss';
@import 'partials/_tooltip.scss';
@import 'partials/_slider.scss';
/* Externals */
@import '~dragula/dist/dragula.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~ngx-toastr/toastr';

body {
  background-color: #F1F1F1 !important;
  font-family: 'Roboto', sans-serif;
  font-weight: $light;

  h1, h2, h3, h4, h5, h6 {
    font-weight: $regular;
  }

  a {
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      @include _transition(all 0.3s);
    }
  }

  .container {
    max-width: 100%;
  }

  h1, h2, h3, h4, h5, h6, a, i, p, span, small {
    &.primary {
      color: $primary;
    }
    &.success {
      color: $success;;
    }
    &.danger {
      color: $danger;
    }
    &.info {
      color: $info;
    }
    &.warning {
      color: $warning;
    }
    &.default {
      color: $default;
    }
  }

  div.form-center {
    margin: 100px auto 0;
    max-width: 600px;
  }

  div.multilang {
    max-width: 155px;
    > ng-select.ng-select {
      > div.ng-select-container {
        min-height: 35px;
        border-radius: $borderRadius;
      }
      i {
        margin-right: 5px;
      }
    }
  }

  /* Select filter in tables */
  nav {
    div.ng-select-dropdown-outer.bottom {
      margin-top: 0;
      border-radius: $borderRadius;
      border: 1px solid $lightGrey;
      > ng-select-virtual-scroll.ng-select-dropdown {
        top: -1px;
        > div {
          > div.ng-option {
            border-radius: $borderRadius;
            &.marked {
              border-radius: $borderRadius;
              background-color: #f5f5f5;
            }
          }
        }
      }
    }
  }

}

.ng2-smart-action {
  cursor: pointer;
  font-weight: $light;
  padding: 6px 8px;
  border: none;
  color: #ffffff !important;
  background-color: $primary;
  &:hover {
    color: #ffffff;
    background-color: darken($primary, 10);
  }
  &.success {
    background-color: $success;
    &:hover {
      background-color: darken($success, 10);
    }
  }
  &.danger {
    background-color: $danger;
    &:hover {
      background-color: darken($danger, 10);
    }
  }
  &.info {
    background-color: $info;
    &:hover {
      background-color: darken($info, 10);

    }
  }
  &.warning {
    background-color: $warning;
    &:hover {
      background-color: darken($warning, 10);
    }
  }
  &.default {
    background-color: $default;
    &:hover {
      background-color: darken($default, 10);
    }
  }

  &.disabled {
    cursor: not-allowed;
    background-color: $lightGrey;
    color: $grey;
    &:hover {
      background-color: $lightGrey;
      color: $grey;
    }
  }
}

/* Drag&Drop */
.gu-mirror {
  padding: inherit;
  background-color: inherit;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 1 !important;
  list-style: none;

  /* List detail items - COPIED FROM list-details.component.scss */
  &.list-detail-item {
    border: 1px dotted $lightGrey;
    padding: 15px 15px 5px;
    background-color: #fafafa;
    > span.delete {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      padding: 2px 10px;
      font-size: 18px;
    }
    > span.drag {
      cursor: move;
      position: absolute;
      top: -8px;
      left: -8px;
      background-color: $lightGrey;
      color: #000000;
      padding: 0 3px;
      font-size: 16px;
      &:before {
        content: '\f126';
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
  &.uploaded-file {
    > .file-name {
      display: none;
    }
  }

  /* Table items - COPIED FROM ng2-smart-table.component.scss */
  &.ng2-smart-row {
    background: #fff;
    border-top: 1px solid $lightGrey;
    border-bottom: 1px solid $lightGrey;
    border-left: 1px solid $lightGrey;
    width: 100%;
    display: table;
    cursor: move;
    > td {
      width: auto;
      border-right: 1px solid $lightGrey;
      font-weight: $light;
      height: 40px;
      color: $default;
      font-size: 14px;
      margin: 0;
      padding: 5px 10px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      white-space: nowrap;
      > label.checkbox {
        margin: 3px -2px 0 1px;
        > span {
          width: 18px;
        }
      }

      &.ng2-smart-actions {
        > ng2-st-tbody-actions {
          > a {
            &:not(:last-child) {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  tooltip-content {
    display: none;
  }
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
